# Byte-compiled files
__pycache__/
*.pyc

# Venv files
venv/

# Django
*.log
*.pot

# vscode
.vscode/

# idea
.idea/

# media
media/

# folders
static/
build/
dist/

# eggs
*.egg-info

# pydoit db
.doit.db.db

# sqlite db
*.sqlite3
